.newwidth {
  max-width: 1920px;
  padding: 0px 0px;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 425px) {
  .newwidth {
    max-width: 1800px;
    padding: 0px 10px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1020px) {
  .newwidth {
    max-width: 1800px;
    padding: 0px 25px;
    margin: 0 auto;
  }
}

.newflxx {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 375px) and (max-width: 425px) {
  .newflxx {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
