.newclass{

  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0px 60px;
}


@media (min-width: 320px) and (max-width: 425px) {
  .newclass {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1020px) {
  .newclass {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 160px;
  }
}
@media (min-width: 1021px) and (max-width: 1200px) {
  .newclass {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0px 30px;
  }
}
@media (min-width: 1221px) and (max-width: 2560px) {
  .newclass {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0px 44px;
  }
}
.secondsec-fltr1 {
  display: flex;
  height: 50px;
  background: #ffffff;
  border: 1.45259px solid #dbdbdb;
  box-shadow: 0px 5.3503px 18.7261px rgb(0 0 0 / 7%);
  border-radius: 14px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 375px) and (max-width: 425px){
.secondsec-fltr1 {
    width: 230px;
}
}

.secondsec-subfltr {
  align-items: center;
  gap: 10px;
}

.firstsectio-searchss {
  display: flex;
  gap: 8px;
  width: 500px !important;
  /* width: auto; */
  height: 35px;
  background: #f7f7f4;
  border: 1.5px solid #dbdbdb;
  border-radius: 6px;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 425px) {
  .firstsectio-searchss {
    gap: 8px;
    width: 141px !important;
  }
}
@media (min-width: 768px) and (max-width: 1020px) {
  .firstsectio-searchss {
    gap: 8px;
    width: 320px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1221px) {
  .firstsectio-searchss {
    gap: 8px;
    width: 350px !important;
  }
}

.firstsectio-textsrcss {
  display: flex;
  gap: 8px;
  width: auto;
  height: 35px;
  background: #f7f7f4;
  border: 1.5px solid #dbdbdb;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 6px;
  flex-direction: row;
  align-items: center;
}
.firstsectio-textsrcss:focus {
  outline: none !important;
  border: 1.5px solid #dbdbdb;
  border-left-color: transparent;
  border-right-color: transparent;
}
.logosection-srciconss {
  margin-left: 10px;
}

input.firstsectio-textsrcss::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaaaa8;
  opacity: 1; /* Firefox */
}
