.firstsection-sbname {
  font-weight: 500;
  font-size: 12px;
  color: #aaaaa8;
}

.firstsectio-imgsc {
  width: 75%;
  background: black;
  border-radius: 27.5825px;
  border: 1.4px solid;
}
@media (min-width: 375px) and (max-width: 425px) {
  .firstsectio-imgsc {
    width: 70%;
  }
}

.firstsectio-txt1 {
  font-weight: 500;
  font-size: 12px;
}
@media (min-width: 375px) and (max-width: 425px) {
  .firstsectio-txt1 {
    font-size: 9px;
  }
}

.firstsectio-txt2 {
  color: #aaaaa8;
  text-align: left;
  font-size: 12px;
}
@media (min-width: 375px) and (max-width: 425px) {
  .firstsectio-txt2 {
    font-size: 9px;
  }
}
.firstsectio-searcnt {
  display: flex;
  gap: 8px;
  width: 100%;
  height: 35px;
  background: #f7f7f4;
  border: 1.5px solid #dbdbdb;
  border-radius: 6px;
  flex-direction: row;
  align-items: center;
}

.firstsectio-textsrc {
  display: flex;
  gap: 8px;
  width: auto;
  height: 35px;
  background: #f7f7f4;
  border: 1.5px solid #dbdbdb;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 6px;
  flex-direction: row;
  align-items: center;
}

.firstsectio-textsrc:focus {
  outline: none !important;
  border: 1.5px solid #dbdbdb;
  border-left-color: transparent;
  border-right-color: transparent;
}

.logosection-srcicon {
  margin-left: 10px;
}

input.firstsectio-textsrc::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaaaa8;
  opacity: 1; /* Firefox */
}

.logosection-lgos {
  font-size: 24px;
  font-weight: 700 !important;
  margin: 5px;
}

@media (min-width: 375px) and (max-width: 425px) {
  .logosection-lgos {
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
  }
}

.logosectioncntap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 0px 15px !important;
}
@media (min-width: 375px) and (max-width: 425px) {
  .logosectioncntap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  .logosectioncntap {
    display: flex;
    padding: 0px 20px 0px 20px !important;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 28px;
  }
}

.logosec-srcalign {
  display: flex;
  justify-content: center;
  width: 600px;
}

@media (min-width: 375px) and (max-width: 425px) {
  .logosec-srcalign {
    width: auto;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .logosec-srcalign {
    display: flex;
    justify-content: center;
    width: 300px;
  }
}

.cntapp-adflx {
  display: flex;
}
