.connect-third {
  width: 600px;
  border-radius: 10px;
}

.newimg {
  width: 15%;
}

.plus {
  background: #ffffff;
  border: 1.86306px solid #dbdbdb;
  border-radius: 7.45223px;
  color: #000000;
  font-weight: 600;
  font-size: 25px;
}
